/*
 * custom site css after reset.
 */

h1, h2, h3, h4, h5, h6, p { margin: 12px 0; }
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; }
h6 { font-size: 8px; }
p {
  font-size: 16px;
  font-weight: 100;
  line-height: 26px;
}

.pagination{
  display: inline-block;
  border-radius: 4px;
  height:36px;
}

.pagination .page{
  height:100%;
  display:inline-block;
  list-style-type:none;
  transition:all 0.1s ease 0s;
}
.pagination .page a {
    display:block;
    padding:0 2px;
    height:100%;
    line-height:36px;
    font-weight:bold;
    text-decoration: None;
    transition:all 0.1s ease 0s;
}
